.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 0fr);
    gap: 0;
}

.grid-element {
    margin: 0;
    padding: 0;
    min-width: 75px;
    height: 75px;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;

}

.grid-element img {
    margin: 0 auto;
    display: block;
}